.kanban {
  width: 100%;
  display: flex;
  justify-content: center;
}
.kanbanContainer {
  padding: 10px 0 20px 0;
  width: calc(100% - 40px);
  display: flex;
  overflow: auto;
  flex-direction: row;
}
.addSection {
  background-color: #eeeeee;
  height: fit-content;
  width: max-content;
  color: #5c5b5b;
  border-radius: 4px;
  padding: 7.5px 10px;
  font-size: 13px;
  text-wrap: nowrap;
  cursor: pointer;
}
.createSection {
  height: 34.5px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Custom Scroll */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  margin: 3px;
  padding: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
